<!DOCTYPE html>
<html>
<head>
	<title>Vue-条件渲染</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<style type="text/css">
  label {
    color: red;
    font-weight: bold;
  }
</style>
<h3>if-else</h3>
<div id="app">
  <label>if：v-if</label>
  <p v-if="flg">{{ msg }}</p>
  <label>if_else：v-if 和 v-else</label>
  <p v-if="flg">{{ msg }}</p>
  <p v-else>defatult msg</p>
  <label>多重条件：v-if 和 v-else-if 和 v-else </label>
  <p v-if="see_flg">{{ msg }}</p>
  <p v-else-if="see_flg2">多重条件的第二个条件</p>
  <p v-else>if-elseif-end</p>
  <label>使用if-else渲染多个元素:v-if需要绑定在元素上，当我们需要渲染多个时可以借助template</label>
  <template v-if="more_flg">
    <p><b>true：if的标题</b></p>
    <p>这是more_flg为true显示内容</p>
  </template>
  <template v-else>
    <p><b>true：else的标题</b></p>
    <p>这是more_flg为false显示内容</p>
  </template>
  <button v-on:click="tag_flg">切换more_flg</button>
</div>
<script type="text/javascript">
  var vm = new Vue({
  	el: '#app',
  	data: {
  	  msg: 'flg==true :show msg',
      flg: true,
      see_flg: false,
      see_flg2: true,
      more_flg: true
  	},
    methods: {
      tag_flg: function(){
        this.more_flg = !this.more_flg
      }
    }
  })
</script>

<h3>v-if的复用key</h3>
<div id="app2">
  <p>当在input中输入内容，然后改变flg的值，会发现之前输入input的值还在，这是因为vue复用了。想要取消可以给input设置唯一key</p>
  <template v-if="flg">
    <p>输入用户名登录</p>
    <input placeholder="用户名" key="input_username">
  </template>
  <template v-else>
    <p>输入邮箱登录</p>
    <input placeholder="邮箱" key="input_email">
  </template>
</div>
<script type="text/javascript">
  var vm2 =new Vue({
    el: '#app2',
    data: {
      flg: true
    }
  })
</script>

<h3>v-show与v-if差不多的效果</h3>
<div id="app3">
  <p>不同的是带有 v-show 的元素始终会被渲染并保留在 DOM 中。v-show只是简单地切换元素的CSS属性display。.v-show不支持template，也不支持v-else</p>
  <p v-show="flg">用户登录</p>
</div>
<script type="text/javascript">
  var vm2 =new Vue({
    el: '#app3',
    data: {
      flg: true
    }
  })
</script>

<p>不推荐同时使用 v-if 和 v-for。</p>
</body>
</html>